# Loại bỏ thư mục build/tạm
bin/
obj/
__pycache__/
.venv/
node_modules/
dist/
smart-parking-frontend/dist/
SmartParking.Core/SmartParking.Core/DebugFrames/*
!SmartParking.Core/SmartParking.Core/DebugFrames/.gitkeep

# Tùy chọn khác
*.log
